@charset "UTF-8";

body#page-enrol-ukfilmnet-applicant, body#page-enrol-ukfilmnet-emailverify,
body#page-enrol-ukfilmnet-courses, body#page-enrol-ukfilmnet-school, body#page-enrol-ukfilmnet-safeguarding, body#page-enrol-ukfilmnet-students,
body#page-enrol-ukfilmnet-assurance, body#page-enrol-ukfilmnet-tracking {
    background-image: url('../../../../enrol/ukfilmnet/assets/login-image.jpg');
    background-size: cover;
}

body#page-enrol-ukfilmnet-applicant input, body#page-enrol-ukfilmnet-emailverify input,
body#page-enrol-ukfilmnet-courses input, body#page-enrol-ukfilmnet-school input, body#page-enrol-ukfilmnet-safeguarding input, body#page-enrol-ukfilmnet-students input, body#page-enrol-ukfilmnet-assurance input, body#page-enrol-ukfilmnet-tracking input {
    background-color: rgba(248,249,250,.7)!important; 
}

body#page-enrol-ukfilmnet-applicant input.btn, body#page-enrol-ukfilmnet-emailverify .input btn,
body#page-enrol-ukfilmnet-courses input.btn, body#page-enrol-ukfilmnet-school input.btn, body#page-enrol-ukfilmnet-safeguarding input.btn, body#page-enrol-ukfilmnet-students input.btn, body#page-enrol-ukfilmnet-assurance input.btn, body#page-enrol-ukfilmnet-tracking input.btn {
    background-color: #111 !important; 
}

body#page-enrol-ukfilmnet-applicant #page, body#page-enrol-ukfilmnet-emailverify #page,
body#page-enrol-ukfilmnet-courses #page, body#page-enrol-ukfilmnet-school #page, body#page-enrol-ukfilmnet-safeguarding #page, body#page-enrol-ukfilmnet-students #page,
body#page-enrol-ukfilmnet-assurance #page, body#page-enrol-ukfilmnet-tracking #page {
    margin-top: 0px !important;
}

#region-main {
    padding: 0px !important;
    background-color: unset !important;
}

#page-enrol-ukfilmnet-applicant #page-footer, #page-enrol-ukfilmnet-emailverify #page-footer,#page-enrol-ukfilmnet-courses #page-footer, #page-enrol-ukfilmnet-school #page-footer, #page-enrol-ukfilmnet-students #page-footer, #page-enrol-ukfilmnet-tracking #page-footer, #page-enrol-ukfilmnet-assurance #page-footer {
    padding-top: 20px;
}

#page-enrol-ukfilmnet-tracking header .card, #page-enrol-ukfilmnet-assurance header .card, #page-enrol-ukfilmnet-students header .card {
    height: 20px;
}

h3.ukfn_enrol_page_title {
    font-size: 1.8rem;
    font-weight: 200;
    padding-top: 20px;
}

.ukfn_content_area h3.ukfn_enrol_page_title {
    font-size: 2.5rem;
    font-weight: 200;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-left: 27px;
}

#page-enrol-ukfilmnet-tracking h4.ukfn_applicant_subheading, #page-enrol-ukfilmnet-assurance h4.ukfn_applicant_subheading {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 9px;
}

.ukfn_form h4 {
    margin-bottom: 1rem;
}

#page-enrol-ukfilmnet-tracking thead tr th, #page-enrol-ukfilmnet-students thead tr th {
    /*background-color: #f8f9fa;*/
    background-color: #000 !important;
    color: #FFF;
    border-top-color: #000 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

.ukfn_error_feedback {
    font-size: 80%;
    color: #d9534f;
    font-weight: 400;
    text-align: left;
}

#page-enrol-ukfilmnet-tracking tbody tr input, #page-enrol-ukfilmnet-students tbody tr input {
    /*background-color: #f8f9fa;*/
    padding: 10px !important;
    vertical-align: middle;
}

.ukfn_background_color {
    background-color: rgba(248,249,250,.7) !important;
}

.ukfn_log-in_box, .ukfn_log-in_details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.ukfn_log-in_details {
    flex-direction: column;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#fitem_id_email, #fitem_id_assurance_code {
    width: 80%;
}

#fitem_id_email .col-md-3, #fitem_id_assurance_code .col-md-3 {
    width: 40%;
} 

.ukfn_stealth, #fitem_id_is_logged_in .ukfn_stealth .col-md-9 input{
    display: none;
}

.ukfn_not_stealth {
    display: block;
}

.ukfn_enrol_main {
    display: flex;
    flex-wrap: wrap;
}

.ukfn_button_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
}

.ukfn_button_group #fgroup_id_cancelbutton  {
    width: 100%;
}

.ukfn_button_group .col-md-3 {
    display: none;
}

.ukfn_button_group .col-md-9 {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    align-content: center;
}

.ukfn_form_text {
    width: 100%;
}

.ukfn_form_doc {
    border-style: solid;
    border-width: 1px;
    margin-bottom: .5rem;
}

.ukfn_form_doc .form-inline .form-check {
    padding-left: 10px;
}

.ukfn_print_upload_text {
    line-height: 1.2rem;
    padding-top: 1.5rem;
}

.ukfn_print_upload_text ul {
    padding-top: .5rem;
    margin-left: 10px;
}

#fitem_id_form_filepicker .col-md-3 {
    max-width: 30%;
    text-align: right;
}

#fitem_id_form_filepicker .col-md-9 {
    max-width: 60%;
    text-align: left;
}

.ukfn_form_content {
    margin: 1.5rem;
}

#page-enrol-ukfilmnet-assurance .text-info {
    color: #060 !important;
}

#page-enrol-ukfilmnet-assurance .text-danger {
    color:  #b22222 !important;
}

#page-enrol-ukfilmnet-assurance .row {
    margin-left: 0px;
    margin-right: 0px;
}

#page-enrol-ukfilmnet-assurance .col-md-9 input {
    width: 100% !important;
}

#page-enrol-ukfilmnet-assurance .ukfn_form_content .col-md-9.form-inline.felement {
    align-items: flex-start;
    padding-left: unset;
}

/* Begin 'ukfn_form_even' container css*/

.ukfn_form_even {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.ukfn_form_even .col-md-3, .ukfn_form_even .col-md-9 {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: right;
    flex-wrap: wrap;
    padding-right: 0px;
}

/* Begin 'ukfn_form_big_left' container css*/

.ukfn_form_big_left {
    display: flex;
    width: 100%;
    align-items: flex-start; 
    flex-wrap: wrap;
}

.ukfn_form_big_left #fgroup_id_applicant_is_employed, .ukfn_form_even #fitem_id_employment_start_date {
    width: 100%;
}

.ukfn_form_big_left .col-md-3, .ukfn_form_big_left .col-md-9 {
    padding-left: unset;
    padding-right: unset;
}

.ukfn_form_big_left #fitem_id_employment_start_date {
    flex: 0 0 80%;
    max-width: 80%;
    flex-wrap: wrap;
}

/*.ukfn_form_small {
    display: flex;
    flex: 0 0 20%;
    max-width: 20%;
    flex-wrap: wrap;
}*/

.ukfn_form_big_left #fitem_id_dbs_cert_date {
    flex: 0 0 50%;
    max-width: 50%;
    flex-wrap: wrap;
}

.ukfn_form_big_left #fitem_id_dbs_cert_date .col-md-3 {
    flex: 0 0 30%;
    max-width: 30%;
    text-align: left;
    flex-wrap: wrap;
}

.ukfn_form_big_left #fitem_id_dbs_cert_date .col-md-9 {
    flex: 0 0 70%;
    max-width: 70%;
    flex-wrap: wrap;
}

.ukfn_form_big_left #fitem_id_dbsnumber {
    flex: 0 0 50%;
    max-width: 50%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.ukfn_form_big_left #fitem_id_dbsnumber .col-md-3 {
    flex: 0 0 170px;
    max-width: 170px;
    text-align: right;
    flex-wrap: wrap;
}

.ukfn_form_big_left #fitem_id_dbsnumber .col-md-9 {
    flex: 0 0 150px;
    max-width: 150px;
    flex-wrap: wrap;
}

.ukfn_form_big_left #fgroup_id_applicant_is_employed .col-md-3 {
    flex: 0 0 51% !important;
    max-width: 51% !important;
    flex-wrap: wrap;
}

.ukfn_form_big_left #fgroup_id_applicant_is_employed .col-md-9 {
    flex: 0 0 49% !important;
    max-width: 49% !important;
    flex-wrap: wrap;
}

.ukfn_form_big_left #fgroup_id_applicant_suitability .col-md-3, #fgroup_id_behavior_allegations .col-md-3, #fgroup_id_disciplinary_actions .col-md-3, #fgroup_id_brit_school_abroad_mod_or_dubai_school .col-md-3, #fgroup_id_school_subject_to_inspection .col-md-3 {
    flex: 0 0 75% !important;
    max-width: 75% !important;
    flex-wrap: wrap;
}

.ukfn_form_big_left #fgroup_id_applicant_suitability .col-md-9, #fgroup_id_behavior_allegations .col-md-9, #fgroup_id_disciplinary_actions .col-md-9, #fgroup_id_brit_school_abroad_mod_or_dubai_school .col-md-9, #fgroup_id_school_subject_to_inspection .col-md-9 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
    flex-wrap: wrap;
    justify-content: center;
}

.ukfn_form_even .ukfn_form_big_left {
    display: flex;
    flex: 0 0 60%;
    max-width: 60%;
}

.ukfn_form_big_left #fgroup_id_qts_qualified {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
}

.ukfn_form_big_left #fgroup_id_qts_qualified .col-md-3 {
    flex: 0 0 75% !important;
    max-width: 75% !important;
    text-align: left;
    flex-wrap: wrap;
}

.ukfn_form_big_left #fgroup_id_qts_qualified .col-md-9 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
    flex-wrap: wrap;
}

.ukfn_form_big_left #fgroup_id_applicant_suitability .col-md-9 input, .ukfn_form_big_left #fgroup_id_qts_qualified .col-md-9 input, #fgroup_id_behavior_allegations .col-md-9 input, #fgroup_id_disciplinary_actions .col-md-9 input, #fgroup_id_brit_school_abroad_mod_or_dubai_school .col-md-9 input, #fgroup_id_school_subject_to_inspection .col-md-9 input, #fgroup_id_applicant_is_employed .col-md-9 input {
    width: unset!important;
}

#fgroup_id_qts_qualified .col-md-9 label {
    padding-left: 20px;
}

.ukfn_form_even .ukfn_form_big_left {
    flex: 0 0 60%;
    max-width: 60%;
    flex-wrap: wrap;
}

.ukfn_form_even .ukfn_form_big_left {
    flex: 0 0 60%;
    max-width: 60%;
    flex-wrap: wrap;
}

.ukfn_form_even #fitem_id_qtsnumber {
    flex: 0 0 40%;
    max-width: 40%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#fitem_id_qtsnumber .col-md-3 {
    flex: 0 0 170px;
    max-width: 170px;
    flex-wrap: wrap;
    padding-left: 0px;
}

#fitem_id_qtsnumber .col-md-9 {
    flex: 0 0 150px;
    max-width: 150px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#fitem_id_qtsnumber .col-md-9 input {
    max-width: 250px;
}

#fgroup_id_disciplinary_actions, #fgroup_id_brit_school_abroad_mod_or_dubai_school, #fgroup_id_school_subject_to_inspection, #fgroup_id_applicant_suitability, #fgroup_id_behavior_allegations {
    width: 100%;
}

#fgroup_id_tra_check, #fgroup_id_subject_to_ocr_check {
    width: 100%;
}

#fgroup_id_tra_check .col-md-3, #fgroup_id_subject_to_ocr_check .col-md-3 {
    flex: 0 0 75% !important;
    max-width: 75% !important;
    text-align: left;
    flex-wrap: wrap;
}

#fgroup_id_tra_check .col-md-9, #fgroup_id_subject_to_ocr_check .col-md-9 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
    flex-wrap: wrap;
    justify-content: center;
}

#fgroup_id_tra_check .col-md-9 input, #fgroup_id_subject_to_ocr_check .col-md-9 input {
    width: unset!important;
}

.ukfn_form_even.referee {
    width: 100% !important;
}

#fitem_id_referee_firstname, #fitem_id_referee_familyname, #fitem_id_referee_position, #fitem_id_referee_email {
    display: flex;
    flex: 0 0 50%;
    align-content: flex-start;
    text-align: left;
    margin-right: 0px;
    flex-wrap: wrap;
}

#fitem_id_referee_firstname .col-md-3, #fitem_id_referee_familyname .col-md-3, #fitem_id_referee_email .col-md-3, #fitem_id_referee_position .col-md-3 {
    flex: 0 0 35%;
    max-width: 35%;
    flex-wrap: wrap;
}

#fitem_id_referee_firstname .col-md-9, #fitem_id_referee_familyname .col-md-9, #fitem_id_referee_email .col-md-9, #fitem_id_referee_position .col-md-9{
    flex: 0 0 65%;
    max-width: 65%;
    flex-wrap: wrap;
}

#fitem_id_referee_firstname .col-md-3 label, #fitem_id_referee_familyname .col-md-3 label, #fitem_id_referee_position .col-md-3 label, #fitem_id_referee_email .col-md-3 label {
    width: auto;
    margin-left: 0px;
    flex-wrap: wrap;
}

#fitem_id_referee_name .col-md-9 input, #fitem_id_referee_familyname .col-md-3 label,  #fitem_id_referee_position .col-md-9 input, #fitem_id_referee_email .col-md-9 input {
    width: 120% !important;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
}

.ukfn_form.signature {
    margin-left: 37px;
}

.ukfn_form.signature_line {
    margin-left: 37px;
    margin-bottom: 1rem;
}

.ukfn_form.signature_line span {
    padding-left: 20px;
}

.ukfn_form_even.school_info {
    display: flex;
    width: 100%;
}

.ukfn_form_even.school_info #fitem_id_school_web_address, .ukfn_form_even.school_info  #fitem_id_school_registered_address {
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-end !important;
}

.ukfn_form_even.school_info .col-md-3, #fitem_id_school_registered_address .col-md-3 {
    padding-left: 0px;
    text-align: right;
}

#fitem_id_school_registered_address .col-md-3 label, #fitem_id_school_web_address .col-md-3 label, #fitem_id_dbsnumber .col-md-3 label, #fitem_id_ukprn .col-md-3 label {
    text-align: right;
}

#fitem_id_school_registered_address .col-md-3 label span, #fitem_id_dbsnumber .col-md-3 label span, #fitem_id_dbsnumber .col-md-3 label, #fitem_id_ukprn .col-md-3 label span {
    padding-left: 0px;
    text-align: right;
    display: block;
    margin-right: 33px;
}

#fitem_id_school_web_address .col-md-3 {
    max-width: 35%;
    display: block;
    padding-right: 10px;
}

#fitem_id_school_web_address .col-md-3 label span {
    padding-left: 0px;
    text-align: right;
    display: block;
}

#fitem_id_school_registered_address textarea {
    height: 70px;
    width: 100%;
}

.ukfn_form_even.school_info #fitem_id_schoolname {
    width: 65%;
    max-width: 65%;
    font-weight: bold;
}

.ukfn_form_even.school_info #fitem_id_schoolname .col-md-3 {
    width: 35%;
    max-width: 35%;
}

.ukfn_form_even.school_info #fitem_id_schoolname .col-md-9 {
    width: 65%;
    max-width: 65%;
    flex: 0 0 100%;
}

.ukfn_form_even.school_info #fitem_id_schoolname .col-md-9 input {
    width: 100%;
    max-width: 100%;
}

.ukfn_form_even.school_info #fitem_id_ukprn {
    width: 35%;
    max-width: 35%;
    font-weight: bold;
}

.ukfn_form_even.school_info #fitem_id_school_web_address .col-md-3, .ukfn_form_even.school_info #fitem_id_school_registered_address .col-md-3 {
    max-width: fit-content;
}

.ukfn_ukprn, .ukfn_schoolname {
    display: inline-block;
}

.ukfn_form_even.school_info #fitem_id_school_web_address .col-md-3 label {
    padding-right: 10px;
}

.ukfn_form_even.school_info #fitem_id_school_web_address .col-md-9.form-inline.felement {
   flex: 0 0 100%;
   max-width: 65%;
}
.ukfn_form_even.school_info #fitem_id_school_web_address .col-md-3 label, .ukfn_form_even.school_info #fitem_id_school_registered_address .col-md-3 label {
    display: flex;
    max-width: fit-content;
}

.ukfn_applicant_content .form-control-feedback.invalid-feedback {
    text-align: center !important;
} 

.ukfn_notes_text p {
    font-size: .8rem;
    margin-bottom: .5rem;
}


/* End assurance form css */

.ukfn_progress_list_area {
    width:260px; 
    text-align:center;
    margin-top: 20px;
    margin-left: 20px;
}

.ukfn_content_area {
    flex: 1;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
    padding-right: 10px;
}

.ukfn_progress_titlebox {
    display:inline-block; 
    width: 100%;
    margin-top: 10px;
}

.ukfn_progress_title, .ukfn_progress_items {
    text-align: center;
    border-width: 1px; 
    border-style: solid;
    width: 200px; 
    display:inline-block; 

}
.ukfn_progress_title {
    border-bottom: 0px; 
    margin-bottom: 0px;
    padding: 10px 10px;
}

.ukfn_progress_items p {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    line-height: 2.5em;
}

.ukfn_progress_items p.item_complete {
    background-color: #060;
    opacity: 0.40;
    color: white;
}

.ukfn_progress_items p.item_current {
    background-color: #b22222; 
    opacity: 0.40;
    color: #ffffff;
}

.ukfn_safeguarding_section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

.ukfn_applicant_subheading {
    color: #b22222;
    text-align:left;
    padding: 20px;
}

.ukfn_applicant_content {
    margin-left: 30px;
    margin-right: 20px;
}

.ukfn_applicant_email, .ukfn_applicant_firstname, .ukfn_applicant_familyname, 
.ukfn_applicant_current_roles, .ukfn_applicant_subheading {
    width: 600px;
}

.ukfn_last_input{
    margin-bottom: 30px;
}

.ukfn_verification_content {
    width: 700px;
}

.ukfn_applicant_current_roles, .ukfn_verification_content {
    margin-top: 20px;
}

.ukfn_contact_info_label {
    width: 400px;
}

.ukfn_indent_20 {
    position: relative;
    margin-left: 60px !important;
}

.ukfn_consent_checkbox_label {
    position: relative;
    margin-left: 20px;
}

.ukfn_consent_checkbox {
    position: relative;
    margin-left: -300px;
}

/*#fitem_id_assurance_form {
    width: 80%;
}*/

#ukfn_progress {
    display: none;
}

#page-enrol-ukfilmnet-applicant .d-inline-block, 
#page-enrol-ukfilmnet-assurance .d-inline-block,
#page-enrol-ukfilmnet-emailverify .d-inline-block,
#page-enrol-ukfilmnet-safeguarding .d-inline-block,
#page-enrol-ukfilmnet-applicant #nav-drawer,
#page-enrol-ukfilmnet-assurance #nav-drawer,
#page-enrol-ukfilmnet-emailverify #nav-drawer,
#page-enrol-ukfilmnet-safeguarding #nav-drawer,
#page-enrol-ukfilmnet-courses #nav-drawer,
#page-enrol-ukfilmnet-school #nav-drawer,
#page-enrol-ukfilmnet-students #nav-drawer,
#page-enrol-ukfilmnet-applicant .nav,
#page-enrol-ukfilmnet-emailverify .nav,
#page-enrol-ukfilmnet-school .nav,
#page-enrol-ukfilmnet-safeguarding .nav {
    display:none !important;
}

#page-enrol-ukfilmnet-applicant.drawer-open-left,
#page-enrol-ukfilmnet-assurance.drawer-open-left,
#page-enrol-ukfilmnet-emailverify.drawer-open-left,
#page-enrol-ukfilmnet-safeguarding.drawer-open-left,
#page-enrol-ukfilmnet-courses.drawer-open-left,
#page-enrol-ukfilmnet-students.drawer-open-left,
#page-enrol-ukfilmnet-school.drawer-open-left {
    margin-left: 0px;
}

#page-enrol-ukfilmnet-applicant .card,
#page-enrol-ukfilmnet-emailverify .card,
#page-enrol-ukfilmnet-safeguarding .card,
#page-enrol-ukfilmnet-courses .card,
#page-enrol-ukfilmnet-school .card {
    height: 20px;
}

#page-enrol-ukfilmnet-tracking tbody td span {
    padding: 5px;
}

#page-enrol-ukfilmnet-assurance .col-md-3 span {
    padding-left: 10px;
}

.ukfn_courses_questions .col-md-3 {
    max-width: 70%;
    flex: 0 0 70%;
}

.ukfn_0em_text {
    font-size: 0em;
}

.ukfn_courses_question_bullet {
    padding-right: 4rem;
}

.ukfn_courses_questions .col-md-9 {
    display: inline;
    max-width: 20%;
    flex: 0 0 20%;
    vertical-align: top;
}

.generaltable {
    font-size: .8rem;
}

.one_panel {
    width: 100%;
}

.ukfn_tracking_section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

td.ukfn_enrol_col {
    padding: 0px !important;
}

td.ukfn_enrol_col input {
    width: 100%;
}

.ukfn_checkbox_cell_checked {
    
    background-color: #060;
    opacity: 0.40;
    vertical-align: middle !important;
    
    
}

.ukfn_checkbox_cell_unchecked {
    
    background-color: #b22240;
    opacity: 0.40;
    vertical-align: middle !important;
    
    
}

.ukfn_checkbox {
    width: 100px;
}

.generaltable th {
    padding-left: .3rem !important;
    padding-right: .3rem !important;
}

.sortable-table thead th[data-sort-direction="0"]:after {
    display: none;
}

.ukfn_school_col {
    width: 200px;
}

/* help tips begin*/
.help-tip{
    position: absolute;
    display: inline-block;
    margin-left: 6px;
    text-align: center;
    background-color: #000000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    margin-left: 20px;
    text-align: left;
    background-color: #1E2021;
    padding: 10px;
    /*width: auto;*/
    box-sizing: border-box;
    position: relative;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    left: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 2;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    left:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

.ukfn_text_center {
    text-align: center;
}

.ukfn_text_center span.ukfn_0em_text {
    display: flex;
    align-self: center;
}

.help-tip .tracking_progress_tip {
    width: 220px;
}

.ukfn_progress_1 {
    background-color: #bb2222;
    color: #fff;
}

.ukfn_progress_6 {
    background-color: #f0ad4e;
    color: #fff;
}

.ukfn_progress_7 {
    background-color: green;
    color: #fff;
}

.ukfn_progress {
    background-color: #fff;
}

.ukfn_max_width {
    width: 100%;
}

.generaltable td {
    vertical-align: middle !important;
}

.ukfn_block_center {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.help-tip .tracking_role_tip {
    width: 480px;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

/*help tips end*/

/*Sortable Tables CSS - @charset "UTF-8";*/

.sortable-table thead th {
  cursor: pointer; }
  .sortable-table thead th:after {
    padding-left: 7px; }
  .sortable-table thead th[data-sort-direction="0"]:after {
    content: "⇕"; }
  .sortable-table thead th[data-sort-direction="1"]:after {
    content: "▴"; }
  .sortable-table thead th[data-sort-direction="-1"]:after {
    content: "▾"; }

.sortable-table.sortable-fa-icons thead th:after {
  font-family: FontAwesome; }
.sortable-table.sortable-fa-icons thead th[data-sort-direction="0"]:after {
  content: ""; }
.sortable-table.sortable-fa-icons thead th[data-sort-direction="1"]:after {
  content: ""; }
.sortable-table.sortable-fa-icons thead th[data-sort-direction="-1"]:after {
  content: ""; }

/*sortable-tables css ends*/