body#page-enrol-ukfilmnet-applicant, body#page-enrol-ukfilmnet-emailverify,
body#page-enrol-ukfilmnet-courses, body#page-enrol-ukfilmnet-school, body#page-enrol-ukfilmnet-safeguarding, body#page-enrol-ukfilmnet-students,
body#page-enrol-ukfilmnet-assurance, body#page-enrol-ukfilmnet-tracking {
    background-image: url('../../../../enrol/ukfilmnet/assets/login-image.jpg');
    background-size: cover;
}

#page {
    margin-top: 0px !important;
}

#region-main {
    padding: 0px !important;
    background-color: unset !important;
}

#page-enrol-ukfilmnet-applicant #page-footer, #page-enrol-ukfilmnet-emailverify #page-footer,#page-enrol-ukfilmnet-courses #page-footer, #page-enrol-ukfilmnet-school #page-footer, #page-enrol-ukfilmnet-students #page-footer, #page-enrol-ukfilmnet-tracking #page-footer, #page-enrol-ukfilmnet-assurance #page-footer {
    padding-top: 20px;
}

#page-enrol-ukfilmnet-tracking header .card, #page-enrol-ukfilmnet-assurance header .card, #page-enrol-ukfilmnet-students header .card {
    height: 20px;
}

h3.ukfn_enrol_page_title {
    font-size: 1.8rem;
    font-weight: 200;
    padding-top: 20px;
}

.ukfn_content_area h3.ukfn_enrol_page_title {
    font-size: 2.5rem;
    font-weight: 200;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#page-enrol-ukfilmnet-tracking h4.ukfn_applicant_subheading, #page-enrol-ukfilmnet-assurance h4.ukfn_applicant_subheading {
    margin-top: 0px;
    padding-top: 0px;
}

#page-enrol-ukfilmnet-tracking thead tr th, #page-enrol-ukfilmnet-students thead tr th {
    /*background-color: #f8f9fa;*/
    background-color: #000 !important;
    color: #FFF;
    border-top-color: #000 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

.ukfn_error_feedback {
    font-size: 80%;
    color: #d9534f;
    font-weight: 400;
    text-align: left;
}

#page-enrol-ukfilmnet-tracking tbody tr input, #page-enrol-ukfilmnet-students tbody tr input {
    /*background-color: #f8f9fa;*/
    padding: 10px !important;
    vertical-align: middle;
}

.ukfn_background_color {
    background-color: rgba(248,249,250,.7) !important;
}

.ukfn_enrol_main {
    display: flex;

}

.ukfn_progress_list_area {
    width:260px; 
    text-align:center;
    margin-top: 20px;
    margin-left: 20px;
}

.ukfn_content_area {
    flex: 1;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
    padding-right: 10px;
}

.ukfn_progress_titlebox {
    display:inline-block; 
    width: 100%;
    margin-top: 10px;
}

.ukfn_progress_title, .ukfn_progress_items {
    text-align: center;
    border-width: 1px; 
    border-style: solid;
    width: 200px; 
    display:inline-block; 

}
.ukfn_progress_title {
    border-bottom: 0px; 
    margin-bottom: 0px;
    padding: 10px 10px;
}

.ukfn_progress_items p {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    line-height: 2.5em;
}

.ukfn_progress_items p.item_complete {
    background-color: #060; 
    color: white;
}

.ukfn_progress_items p.item_current {
    background-color: #b22222; 
    color: #ffffff;
}

.ukfn_safeguarding_section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

.ukfn_applicant_subheading {
    color: #b22222;
    text-align:left;
    padding: 20px;
}

.ukfn_applicant_content {
    margin-left: 30px;
}

.ukfn_applicant_email, .ukfn_applicant_firstname, .ukfn_applicant_familyname, 
.ukfn_applicant_current_roles, .ukfn_applicant_subheading {
    width: 600px;
}

.ukfn_last_input{
    margin-bottom: 30px;
}

.ukfn_verification_content {
    width: 700px;
}

.ukfn_applicant_current_roles, .ukfn_verification_content {
    margin-top: 20px;
}

.ukfn_contact_info_label {
    width: 400px;
}

.ukfn_indent_20 {
    position: relative;
    margin-left: 60px !important;
}

.ukfn_consent_checkbox_label {
    position: relative;
    margin-left: 20px;
}

.ukfn_consent_checkbox {
    position: relative;
    margin-left: -300px;
}

#fitem_id_assurance_form {
    width: 80%;
}

#ukfn_progress {
    display: none;
}

#page-enrol-ukfilmnet-applicant .d-inline-block, 
#page-enrol-ukfilmnet-assurance .d-inline-block,
#page-enrol-ukfilmnet-emailverify .d-inline-block,
#page-enrol-ukfilmnet-safeguarding .d-inline-block,
#page-enrol-ukfilmnet-applicant #nav-drawer,
#page-enrol-ukfilmnet-assurance #nav-drawer,
#page-enrol-ukfilmnet-emailverify #nav-drawer,
#page-enrol-ukfilmnet-safeguarding #nav-drawer,
#page-enrol-ukfilmnet-courses #nav-drawer,
#page-enrol-ukfilmnet-school #nav-drawer,
#page-enrol-ukfilmnet-students #nav-drawer,
#page-enrol-ukfilmnet-applicant .nav,
#page-enrol-ukfilmnet-emailverify .nav,
#page-enrol-ukfilmnet-school .nav,
#page-enrol-ukfilmnet-safeguarding .nav {
    display:none !important;
}

#page-enrol-ukfilmnet-applicant.drawer-open-left,
#page-enrol-ukfilmnet-assurance.drawer-open-left,
#page-enrol-ukfilmnet-emailverify.drawer-open-left,
#page-enrol-ukfilmnet-safeguarding.drawer-open-left,
#page-enrol-ukfilmnet-courses.drawer-open-left,
#page-enrol-ukfilmnet-students.drawer-open-left,
#page-enrol-ukfilmnet-school.drawer-open-left {
    margin-left: 0px;
}

#page-enrol-ukfilmnet-applicant .card,
#page-enrol-ukfilmnet-emailverify .card,
#page-enrol-ukfilmnet-safeguarding .card,
#page-enrol-ukfilmnet-courses .card,
#page-enrol-ukfilmnet-school .card {
    height: 20px;
}

.ukfn_courses_questions .col-md-3 {
    max-width: 70%;
    flex: 0 0 70%;
}

.ukfn_courses_question_bullet {
    padding-right: 4rem;
}

.ukfn_courses_questions .col-md-9 {
    display: inline;
    max-width: 20%;
    flex: 0 0 20%;
    vertical-align: top;
}

.generaltable {
    font-size: .8rem;
}

.one_panel {
    width: 100%;
}

.ukfn_tracking_section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

td.ukfn_enrol_col {
    padding: 0px !important;
}

td.ukfn_enrol_col input {
    width: 100%;
}

.ukfn_checkbox_cell_checked {
    
    background-color: #060;
    vertical-align: middle !important;
    
    
}

.ukfn_checkbox_cell_unchecked {
    
    background-color: #b22222;
    vertical-align: middle !important;
    
    
}

.ukfn_checkbox {
    width: 100px;
}

/* help tips begin*/
.help-tip{
    position: absolute;
    display: inline-block;
    margin-left: 6px;
    text-align: center;
    background-color: #000000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    margin-left: 20px;
    text-align: left;
    background-color: #1E2021;
    padding: 10px;
    /*width: auto;*/
    box-sizing: border-box;
    position: relative;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    left: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 2;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    left:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

.ukfn_text_center {
    text-align: center;
}

.help-tip .tracking_progress_tip {
    width: 220px;
}

.ukfn_max_width {
    width: 100%;
}

.ukfn_block_center {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.help-tip .tracking_role_tip {
    width: 480px;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

/*help tips end*/