{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_ukfilmnet/applicantpage

    Template which defines a questionnaire index page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * 

    Example content (json):

}}

<h3 class='section-title' style='padding-left:30px'>Teacher Signup</h3>
<div style='width: 100%;'>
    <div style='width:30%; position:relative; float:left; text-align:center;'>
        <div style='padding: 20px; border-width: 1px; border-style: solid; display:inline-block; margin-top:30px'>
            <h5>Progress</h5>
            <p>Teacher Information</p>
            <p>School Information<p>
            <p>Quals Information<p>
            <p>Enrol Students<p>
        </<div>
    </div>
    <div style='width:70%; position: relative; float:right'>
        <p>{{{emailinput}}}</p>
    </div>
</div>
