{{!
    This file is part of Moodle _ http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_ukfilmnet/emailverifypage

    Template which defines a email verification page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * 

    Example content (json):

}}

<div class='ukfn_enrol_main'>
    <div class='ukfn_progress_list_area ukfn_background_color'>
        <h3 class='ukfn_enrol_page_title'>{{#str}}plugin_heading, enrol_ukfilmnet{{/str}}</h3>
        <div class='ukfn_progress_titlebox'>
        
            <h5 class='ukfn_progress_title'>{{#str}}progressbox_title, enrol_ukfilmnet{{/str}}</h5>
        </div>
        <div class='ukfn_progress_items'>
            <p class='item_complete'>{{#str}}applicant_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class='item_complete'>{{#str}}emailverification_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class='item_complete'>{{#str}}courses_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class='item_current'>{{#str}}institution_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class=''>{{#str}}safeguardingreview_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class=''>{{#str}}students_subheading, enrol_ukfilmnet{{/str}}</p>
        </div>
    </div>
    <div class='ukfn_content_area ukfn_background_color'>
        <h4 class='ukfn_applicant_subheading'>{{#str}}courses_subheading, enrol_ukfilmnet{{/str}}</h4>
        <div class='ukfn_applicant_content'>
            <p>{{#str}}courses_instructions, enrol_ukfilmnet{{/str}}</p>
            {{{coursesinput}}}
            <p></p>
            <br/>
        </div>
    </div>
</div>
