{{!
    This file is part of Moodle _ http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_ukfilmnet/emailverifypage

    Template which defines a email verification page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * 

    Example content (json):

}}
<form action="../ukfilmnet/students.php" method="post">
<h3 class='ukfn_enrol_page_title'>{{#str}}plugin_heading, enrol_ukfilmnet{{/str}}</h3>
<div class='ukfn_enrol_main'>
    <div id='' class='ukfn_progress_list_area'>
        <div class='ukfn_progress_titlebox'>
            <h5 class='ukfn_progress_title'>{{#str}}progressbox_title, enrol_ukfilmnet{{/str}}</h5>
        </div>
        <div class='ukfn_progress_items'>
            <p class='item_complete'>{{#str}}applicant_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class='item_complete'>{{#str}}emailverification_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class='item_complete'>{{#str}}institution_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class='item_complete'>{{#str}}courses_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class='item_complete'>{{#str}}safeguardingreview_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class='item_current'>{{#str}}students_subheading, enrol_ukfilmnet{{/str}}</p>
        </div>
    </div>
    <div class='ukfn_applicantinfo_section'>
        <h4 class='ukfn_applicant_subheading one_panel'>{{#str}}students_subheading, enrol_ukfilmnet{{/str}}</h4>
        <div class='ukfn_applicant_content'>
            <p>{{#str}}students_instructions, enrol_ukfilmnet{{/str}}</p>
            <!--<div id='ukfn_student_enrol_form'>{{{studentsinput}}}</div>-->
            <table class="generaltable">
                <thead>
                    <tr>
                        {{#headings}}
                            <th class="header ukfn_text_center" scope="col">{{title0}}</th>
                            <th class="header ukfn_text_center" scope="col">{{title1}}</th>
                            <th class="header ukfn_text_center" scope="col">{{title2}}</th>
                            {{{extra_header_cols}}}
                        {{/headings}}                
                    </tr>
                </thead>
                <tbody>
                    {{#rows}}
                        <tr>
                            <td class="cell ukfn_text_center ukfn_enrol_col" scope="col">
                                {{{student_email}}}
                            </td>
                            <td class="cell ukfn_text_center ukfn_enrol_col" scope="col">
                                {{{student_firstname}}}
                            </td>
                            <td class="cell ukfn_text_center ukfn_enrol_col" scope="col">
                                {{{student_familyname}}}
                            </td>
                            {{{extra_row_cols}}}
                    </tr>
                    {{/rows}}
                </tbody>
                </table>
                <div class="ukfn_max_width">
                    <input class="btn btn-primary ukfn_block_center" type="submit" value="Submit">
                </div>
            <p></p>
            <br/>
        </div>
    </div>
</div>
</form>
