{{!
    This file is part of Moodle _ http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_ukfilmnet/schoolpage

    Template which defines a school information page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * 

    Example content (json):

}}
<form action="../ukfilmnet/tracking.php" method="post">
<h3 class='ukfn_enrol_page_title'>{{#str}}plugin_heading, enrol_ukfilmnet{{/str}}</h3>
<div class='ukfn_enrol_main'>
    <div id='ukfn_progress' class='ukfn_progress_list_area'>
        <div class='ukfn_progress_titlebox'>
            <h5 class='ukfn_progress_title'>{{#str}}assurance_title, enrol_ukfilmnet{{/str}}</h5>
        </div>
        <div class='ukfn_progress_items'>
            <p class='item_complete'>{{#str}}applicant_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class='item_current'>{{#str}}emailverification_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class=''>{{#str}}institution_subheading, enrol_ukfilmnet{{/str}}</p>
            <p class=''>{{#str}}safeguardingreview_subheading, enrol_ukfilmnet{{/str}}</p>
            <p>{{#str}}students_subheading, enrol_ukfilmnet{{/str}}</p>
        </div>
    </div>
    <div class='ukfn_tracking_section'>
        <h4 class='ukfn_applicant_subheading one_panel'>{{#str}}tracking_subheading, enrol_ukfilmnet{{/str}}</h4>
        <div class='ukfn_applicant_content'>
            <p>{{#str}}tracking_instructions, enrol_ukfilmnet{{/str}}</p>
            <!--{{{trackinginput}}}-->
            {{testName}}
            <table class="generaltable">
                <thead>
                    <tr>
                {{#headings}}
                    <th class="header ukfn_text_center" scope="col">{{title0}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title12}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title1}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title2}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title3}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title4}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title5}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title6}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title7}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title8}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title9}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title10}}</th>
                    <th class="header ukfn_text_center" scope="col">{{title11}}</th>
                {{/headings}}                
                    </tr>
                </thead>
                <tbody>
                {{#rows}}
                    <tr>
                        <td class="cell ukfn_text_center" scope="col">
                            {{{applicationapproved}}}
                        </td>
                        <td class="cell ukfn_text_center" scope="col">
                            {{{applicationdenied}}}
                        </td>
                        <td class="cell ukfn_text_center" scope="col">{{applicationprogress}}
                        <div class="help-tip">
                            <p class="tracking_progress_tip"><span class='tip_header'>
                            {{#str}}signup_progress_1, enrol_ukfilmnet{{/str}}<br>
                            {{#str}}signup_progress_2, enrol_ukfilmnet{{/str}}<br>
                            {{#str}}signup_progress_3, enrol_ukfilmnet{{/str}}<br>
                            {{#str}}signup_progress_4, enrol_ukfilmnet{{/str}}<br>
                            {{#str}}signup_progress_5, enrol_ukfilmnet{{/str}}<br>
                            {{#str}}signup_progress_6, enrol_ukfilmnet{{/str}}<br>
                        </div>    
                        </td>
                    
                    <td class="cell ukfn_text_center" scope="col">{{currentrole}}
                        <div class="help-tip">
                            <p class="tracking_role_tip"><span class='tip_header'>
                            <strong>Current Roles</strong></span><br>
                                {{#str}}applicant_role_ukteacher, enrol_ukfilmnet{{/str}}<br>
                                {{#str}}applicant_role_teacherbsa, enrol_ukfilmnet{{/str}}<br>
                                {{#str}}applicant_role_uksupplyteacher, enrol_ukfilmnet{{/str}}<br>
                                {{#str}}applicant_role_instructor18plus, enrol_ukfilmnet{{/str}}<br>
                                {{#str}}applicant_role_instructor17minus, enrol_ukfilmnet{{/str}}<br>
                                {{#str}}applicant_role_student17minus, enrol_ukfilmnet{{/str}}<br>
                                {{#str}}applicant_role_student18plus, enrol_ukfilmnet{{/str}}<br>
                                {{#str}}applicant_role_industryprofessional, enrol_ukfilmnet{{/str}}<br>
                                {{#str}}applicant_role_educationconsultant, enrol_ukfilmnet{{/str}}<br>
                                {{#str}}applicant_role_parentguardian, enrol_ukfilmnet{{/str}}<br>
                            </p>
                          
                        </div>
                    </td>
                    <td class="cell ukfn_text_center" scope="col">{{familyname}}, {{firstname}}</td>
                    <td class="cell ukfn_text_center" scope="col">{{email}}</td>
                    <td class="cell ukfn_text_center" scope="col">{{schoolcountry}}</td>
                    <td class="cell ukfn_text_center" scope="col">{{schoolname}}</td>
                    <td class="cell ukfn_text_center" scope="col">{{contact_firstname}} {{contact_familyname}}</td>
                    <td class="cell ukfn_text_center" scope="col">{{contact_phone}}</td>
                    <td class="cell ukfn_text_center" scope="col">{{contact_email}}</td>
                    <td class="cell ukfn_text_center" scope="col">{{{assurancedoc}}}</td>
                    <td class="cell ukfn_text_center" scope="col">{{assurancesubmissiondate}}</td>
                    </tr>
                {{/rows}}
                </tbody>
                </table>
                <div class="ukfn_max_width">
                    <input class="btn btn-primary ukfn_block_center" type="submit" value="Submit">
                </div>
            <p></p>
            <br/>
        </div>
    </div>
    
</div>
</form>
